USE [master]
GO
/****** Object:  Database [CinemaBooking_System]    Script Date: 9/25/2025 11:44:59 PM ******/
CREATE DATABASE [CinemaBooking_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaBooking_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CinemaBooking_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaBooking_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CinemaBooking_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaBooking_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaBooking_System]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[TotalMoney] [decimal](12, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](560) NULL,
	[Description] [nvarchar](560) NULL,
	[Capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Password] [nvarchar](255) NULL,
	[Point] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Director]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Director](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralSetting]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BreakTime] [int] NULL,
	[BusinessHours] [time](7) NULL,
	[CloseTime] [time](7) NULL,
	[ConfirmationWaitingTime] [int] NULL,
	[FixedTicketPrice] [decimal](10, 2) NULL,
	[PercentDay] [int] NULL,
	[PercentWeekend] [int] NULL,
	[PercentagePlusPoints] [int] NULL,
	[PointsCompensationPercentage] [int] NULL,
	[TimeBeginsToChange] [time](7) NULL,
	[WaitingTime] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Image] [nvarchar](255) NULL,
	[Trailer] [nvarchar](255) NULL,
	[MovieDuration] [int] NULL,
	[PremiereDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[RatedId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Director]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Director](
	[MovieId] [int] NOT NULL,
	[DirectorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[DirectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Language]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Language](
	[MovieId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_MovieType]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_MovieType](
	[MovieId] [int] NOT NULL,
	[MovieTypeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[MovieTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Performer]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Performer](
	[MovieId] [int] NOT NULL,
	[PerformerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[PerformerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieType]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Performer]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Performer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rated]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rated](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NULL,
	[Description] [nvarchar](560) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](560) NULL,
	[Capacity] [int] NULL,
	[Height] [int] NULL,
	[Width] [int] NULL,
	[Status] [int] NULL,
	[OtherEquipment] [nvarchar](255) NULL,
	[Projector] [nvarchar](255) NULL,
	[Acreage] [int] NULL,
	[CinemaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[StartAt] [datetime2](7) NULL,
	[FinishAt] [datetime2](7) NULL,
	[Price] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[OperatingStatus] [int] NULL,
	[MovieId] [int] NULL,
	[RoomId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[Line] [nvarchar](10) NULL,
	[Number] [int] NULL,
	[Status] [bit] NULL,
	[RoomId] [int] NULL,
	[SeatTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatType]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Surcharge] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 9/25/2025 11:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[ScheduleId] [int] NULL,
	[SeatId] [int] NULL,
	[CustomerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Director] ON 

INSERT [dbo].[Director] ([Id], [Code], [Name]) VALUES (1, N'DD80446', N'Um Tae Hwa')
INSERT [dbo].[Director] ([Id], [Code], [Name]) VALUES (2, N'DD99325', N'Hitoshi One')
INSERT [dbo].[Director] ([Id], [Code], [Name]) VALUES (3, N'DD10146', N'Yoo Seon-dong')
SET IDENTITY_INSERT [dbo].[Director] OFF
GO
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([Id], [Code], [Name]) VALUES (1, N'NN73192', N'Tiếng Hàn - Phụ đề Tiếng Việt')
INSERT [dbo].[Language] ([Id], [Code], [Name]) VALUES (2, N'NN73288', N'Tiếng Thái - Phụ đề Tiếng Việt')
INSERT [dbo].[Language] ([Id], [Code], [Name]) VALUES (3, N'NN18074', N'Tiếng Nhật - Phụ đề Tiếng Việt')
SET IDENTITY_INSERT [dbo].[Language] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([Id], [Code], [Name], [Description], [Image], [Trailer], [MovieDuration], [PremiereDate], [EndDate], [Status], [RatedId]) VALUES (1, N'mv29755', N'WONKA', N'là một bộ phim điện ảnh Anh – Mỹ thuộc thể loại nhạc kịch – kỳ ảo – chính kịch ra mắt vào năm 2023 do Paul King viết kịch bản kiêm đạo diễn.', N'wonka.jpg', N'https://www.youtube.com/embed/otNh9bTjXWg', 116, CAST(N'2024-01-06' AS Date), CAST(N'2024-01-30' AS Date), N'Sắp chiếu', 5)
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
INSERT [dbo].[Movie_Director] ([MovieId], [DirectorId]) VALUES (1, 6)
INSERT [dbo].[Movie_Director] ([MovieId], [DirectorId]) VALUES (2, 10)
INSERT [dbo].[Movie_Director] ([MovieId], [DirectorId]) VALUES (3, 18)
GO
INSERT [dbo].[Movie_Language] ([MovieId], [LanguageId]) VALUES (1, 6)
INSERT [dbo].[Movie_Language] ([MovieId], [LanguageId]) VALUES (2, 7)
INSERT [dbo].[Movie_Language] ([MovieId], [LanguageId]) VALUES (3, 8)
GO
INSERT [dbo].[Movie_MovieType] ([MovieId], [MovieTypeId]) VALUES (1, 1)
INSERT [dbo].[Movie_MovieType] ([MovieId], [MovieTypeId]) VALUES (1, 2)
INSERT [dbo].[Movie_MovieType] ([MovieId], [MovieTypeId]) VALUES (1, 3)
GO
INSERT [dbo].[Movie_Performer] ([MovieId], [PerformerId]) VALUES (1, 3)
INSERT [dbo].[Movie_Performer] ([MovieId], [PerformerId]) VALUES (1, 18)
INSERT [dbo].[Movie_Performer] ([MovieId], [PerformerId]) VALUES (1, 31)
GO
SET IDENTITY_INSERT [dbo].[MovieType] ON 

INSERT [dbo].[MovieType] ([Id], [Code], [Name]) VALUES (1, N'TL58635', N'Gia đình')
INSERT [dbo].[MovieType] ([Id], [Code], [Name]) VALUES (2, N'TL38824', N'Thần Thoại')
INSERT [dbo].[MovieType] ([Id], [Code], [Name]) VALUES (3, N'TL19358', N'Hài')
SET IDENTITY_INSERT [dbo].[MovieType] OFF
GO
SET IDENTITY_INSERT [dbo].[Performer] ON 

INSERT [dbo].[Performer] ([Id], [Code], [Name]) VALUES (1, N'DV45470', N'Jason Momoa')
INSERT [dbo].[Performer] ([Id], [Code], [Name]) VALUES (2, N'DV10328', N'La Thành')
INSERT [dbo].[Performer] ([Id], [Code], [Name]) VALUES (3, N'DV73122', N'Timothée Chalamet')
SET IDENTITY_INSERT [dbo].[Performer] OFF
GO
SET IDENTITY_INSERT [dbo].[Rated] ON 

INSERT [dbo].[Rated] ([Id], [Code], [Description]) VALUES (1, N'T13', N'Phim được phổ biến đến người xem từ đủ 13 tuổi trở lên (13+).')
INSERT [dbo].[Rated] ([Id], [Code], [Description]) VALUES (2, N'P', N'Phim được phép phổ biến đến người xem ở mọi độ tuổi.')
INSERT [dbo].[Rated] ([Id], [Code], [Description]) VALUES (3, N'T18', N'Phim được phổ biến đến người xem từ đủ 18 tuổi trở lên (18+).')
SET IDENTITY_INSERT [dbo].[Rated] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D105345A21C6EE]    Script Date: 9/25/2025 11:44:59 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (N'Đã thanh toán') FOR [Status]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [Point]
GO
ALTER TABLE [dbo].[Seat] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT (N'Đặt thành công') FOR [Status]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD FOREIGN KEY([RatedId])
REFERENCES [dbo].[Rated] ([Id])
GO
ALTER TABLE [dbo].[Movie_Director]  WITH CHECK ADD FOREIGN KEY([DirectorId])
REFERENCES [dbo].[Director] ([Id])
GO
ALTER TABLE [dbo].[Movie_Director]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([Id])
GO
ALTER TABLE [dbo].[Movie_Language]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Language] ([Id])
GO
ALTER TABLE [dbo].[Movie_Language]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([Id])
GO
ALTER TABLE [dbo].[Movie_MovieType]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([Id])
GO
ALTER TABLE [dbo].[Movie_MovieType]  WITH CHECK ADD FOREIGN KEY([MovieTypeId])
REFERENCES [dbo].[MovieType] ([Id])
GO
ALTER TABLE [dbo].[Movie_Performer]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([Id])
GO
ALTER TABLE [dbo].[Movie_Performer]  WITH CHECK ADD FOREIGN KEY([PerformerId])
REFERENCES [dbo].[Performer] ([Id])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([CinemaId])
REFERENCES [dbo].[Cinema] ([Id])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([Id])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([SeatTypeId])
REFERENCES [dbo].[SeatType] ([Id])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedule] ([Id])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([Id])
GO
USE [master]
GO
